.tabs {
    margin: 0 !important;
    width: 100%;
    padding: 10px;
}

.chats-tab,
.friends-tab {
    overflow-y: auto;
    height: calc(100vh - 159px) !important;
}

.selected {
    background: #0C6DFD !important;
    color: #fff !important;
}

.chats-tab a:visited {
    color: red !important;
}

.chatName span {
    margin-left: 10px;
}

.hide {
    display: none !important;
}

.container {
    text-align: center;
}

.wave {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}

.mg-l10 {
    margin-left: 10px;
}

.align-center {
    text-align: center;
    line-height: 50vh;
}

.emoji::after {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.monkey::after {
    content: '🙈';
    --emoji-1: '🙉';
    --emoji-2: '🙊';
    animation-name: threeFrames;
    animation-duration: 2s;
}

@keyframes threeFrames {
    33.333% {
        content: var(--emoji-1);
    }

    66.666% {
        content: var(--emoji-2);
    }
}

.word-wrap {
    overflow-wrap: anywhere;
}

.list-group-item.active {
    color: #000 !important;
    background-color: #fff !important;
    border-color: rgb(0, 0, 0, 0.13) !important;
}

.list-group-item.active:hover {
    background-color: rgb(0, 0, 0, 0.03) !important;
}

@media (pointer: coarse) {
  .tabs {
    margin-top: 56px !important;
    height: calc(100vh - 130px) !important;
  }
}