.tabs {
    margin: 0 !important;
    width: 100%;
    padding: 10px;
}

.search {
    padding: 11.6px 0;
}

.chatName {
    overflow-y: auto;
    height: calc(100vh - 159px) !important;
}

.chatName span {
    margin-left: 10px;
}