.box {
    height: calc(100vh - 85px) !important;
}

.word-wrap {
    overflow-wrap: anywhere;
}

.chat-box {
    padding-bottom: 2px !important;
}

.typing {
    font-style: italic;
    font-size: 14px;
}