.box {
    height: calc(100vh - 85px) !important;
}

.word-wrap {
    overflow-wrap: anywhere;
}

.list-group-item {
    max-width: 100%;
    padding-bottom: 2px !important;
}

.typing {
    font-style: italic;
    font-size: 14px;
}

.back-btn {
    margin: 0 !important;
}

@media only screen and (min-width: 576px) {
    .back-btn {
        display: none !important;
    }
}